<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div FxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>
    <div FxFlex *ngIf="dishes" [@expand]>
        <mat-grid-list cols="2" RowHeight="200px">
            <!-- <mat-grid-tile *ngFor="let dish of dishes" (click)="onSelect(dish)"></mat-grid-tile> -->
            <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishDetail',dish.id]" appHighlight>
                <!-- <img height="400px" matListAvatar src={{dish.image}} alt={{dish.name}} > -->
                <img height="400px" matListAvatar src="{{BaseURL + dish.image}}" alt={{dish.name}} >
                <mat-grid-tile-footer>
                    <h1 matLine>{{dish.name | uppercase}}</h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div fxFlex [hidden]="dishes || errMsg">
        <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait!</h4>
    </div>

    <div fxFlex *ngIf="errMsg">
        <h2>Error!</h2>
        <h4>{{errMsg}}</h4>
    </div>
</div>

<!-- <app-dishdetail [dish]="selectedDish"></app-dishdetail> -->